html {
    scroll-behavior: smooth;
}
body{
    background-image: url("imgs/background.jpg") !important;
}
.mainBlock{
    color: aliceblue;
}
#aboutBlock{
    margin-top: 10px;
}
.aboutInfo, .imgCarousel{
    margin-bottom: 10px;
}
/* .carouselImg{
    min-width: 400px;
} */
#vibeCannon, #anotherProject{
    background-color: dimgray;
}
#vibeCannon{
   margin-bottom: 10px;
}
.contactInfo{
    margin-right: 15px;
    margin-left: 10px;
    font-size: 25px;
}
.resumeBtn{
    font-size: 19px !important;
}