html {
    scroll-behavior: smooth;
    scroll-padding: 50px;
}
body{
    background-image: url("imgs/background.jpg");
}
a{
    color: aliceblue !important;
}
a:hover{
    text-decoration: none;
}
.mainBlock, .imgCaption{
    color: aliceblue;
}
#aboutBlock{
    margin-top: 10px;
}
.aboutInfo, .imgCarousel{
    margin-bottom: 10px;
}
#vibeCannon, #anotherProject{
    background-color: dimgray;
}
#vibeCannon{
   margin-bottom: 10px;
}
.contactInfo{
    margin-right: 15px;
    margin-left: 10px;
    font-size: 25px;
}
.resumeBtn{
    font-size: 19px !important;
}